* {
  /* background-color: brown; */
  margin: 0;
  padding: 0;
}
.todo-wrapper {
  /* background-color: blue; */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* .todos {
  padding-bottom: 30%;
} */
.add-btn {
  color: lime;
}
